
body {
  background: $bg;
  font-family: 'Roboto';
  font-style: normal;
  color: $color;
}

.ajust-container {
  padding: 0;
}

.pst-align-center-flex {
  display: flex;
  align-items: center;
}

.pst-justify-content-flex-center {
  display: flex;
  justify-content: center;
}

input[type="search"], input[type="text"], input[type="email"], input::placeholder {
  color: $color;
  font-style: italic;
  font-weight: normal;
  background: transparent;
  box-sizing: border-box;
  
}

input[type="search"], input[type="text"], input[type="email"] {
  border: 1px solid $color;
}
